body {
  background: #AA076B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.contenedor {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  
}


.titulo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #fff;
  font-family: cursive;

}


.esta-sonando {
  height: 50px;
}

.nota {
  background: #fff;
  margin: 2px;
  border-radius: 5px;
  height: 400px;
  width: 100px;
  position: relative;
}

.suena {
  transition: 0.5s;
  background-color: #999;
}

.negra {
  background-color: #111;
  height: 250px;
  width: 50px;
  border-radius: 10px;
  position: absolute;
  right: -30px;
  z-index: 9;
}
